.EightBall {
    border-radius: 50%;
    color:white;
    width:200px;
    height:200px;
    text-align:center;
    justify-content: center;
    align-items: center;
    display:flex;
    margin:20px;
}